@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,700|Roboto:100');

* {
    margin: 0;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}


body {
    padding: 10vh 25vw;
    background-color: #f2f2f2;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    color: #EF6F6C;
     
}

h2 {
    color: #48A9A6;
}

p {
    padding: 1em;
    line-height: 1.6;
}

em {
	color: #EF6F6C;
}

b {
	color: #48A9A6;
}